.App {
    text-align: center;
  }

  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  #footer-css {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
  }


  #react-root {
    padding-bottom:60px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .card-body {
    flex: 0 0 auto;
  }

  .member-info {
    min-height: 510px;
  }

  /* Syft cup styling */
  .ladder-title {
    flex:2;
  }

  .ladder-title {
    font-size:20px;
    color:#62b415!important;
    font-weight:bold;
    text-transform:uppercase;
    text-align: center;
  }

  .leaderboard-results {
    text-align:left;
    border-collapse: collapse;
  }
  .leaderboard-results thead th {
    padding: 25px;
    color:#747474;
    font-size:14px;
    font-weight:bold;
  }
  .leaderboard-results tbody td {
    padding:15px 25px;
    background:#1a1a1a;
    font-size:16px;
    border-bottom:5px solid #232323;
  }
  .leaderboard-results tbody td:nth-of-type(7) {
    font-weight:bold;
  }
  .leaderboard-results tbody tr:hover td {
      background:#1d1d1d;
  }
  .leaderboard-results tbody tr {
    color:#747474;
  }
  .leaderboard-results tbody tr:first-child {
    color:#686EF9;
  }
  .leaderboard-results tbody span {
    font-weight:bold;
    padding:10px 15px;
    border-radius:50%;
  }
  .leaderboard-results tbody tr:first-child span {
    background:#5055CB;
    color:white;
  }
  .leaderboard-results tbody tr span {
    background:#262626;
    color:#747474;
  }

  /* Responsiveness */
@media (min-width: 900px) {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
}

/* Scorecard css */

.front9, .back9 {
  margin-bottom: 1em;
}

.hole {
  background-color: rgb(62, 189, 3);
  color: #fff;
}
.par {
  background-color: #ccc;
  color: #777;
}
.gross {
  background-color: #ccc;
  color: #777;
}
.points {
  background-color: #ccc;
  columns: #777;
}
.score {
  color: rgb(0, 0, 0);
}

.holeSpan, .sub, .total {
  border: rgba(0,25,0,.25) solid 1px;
  border-width: 0 1px 0 1px;
  display: inline-block;
  text-align: center;
  width: 1.9em;
}

.birdieText
    {
    color: red;
    text-align:center;
    }

    .parText
    {
    color: rgb(43, 179, 25);
    text-align:center;
    }

    .bogeyText
    {
    color: rgb(20, 48, 202);
    text-align:center;
    }

.holeSpanH {
  border: rgba(0,25,0,.25) solid 1px;
  border-width: 0 1px 0 1px;
  display: block;
  text-align: center;
  width: 2.4em;
}

 /* Responsiveness */
 @media (min-width: 900px) {
  .holeSpan {
    display: inline-block;
    width: 2.4em;
  }
  .holeSpanH {
    display: inline-block;
    width: 2.7em;
  }
}



 

  

  