.App {
    text-align: center;
  }

  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  #footer-css {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
  }


  #react-root {
    padding-bottom:60px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .card-body {
    flex: 0 0 auto;
  }

  .member-info {
    min-height: 510px;
  }

  /* Syft cup styling */
  .ladder-title {
    flex:2;
  }

  .ladder-title {
    font-size:20px;
    color:#62b415!important;
    font-weight:bold;
    text-transform:uppercase;
    text-align: center;
  }

  .leaderboard-results {
    text-align:left;
    border-collapse: collapse;
  }
  .leaderboard-results thead th {
    padding: 25px;
    color:#747474;
    font-size:14px;
    font-weight:bold;
  }
  .leaderboard-results tbody td {
    padding:15px 25px;
    background:#1a1a1a;
    font-size:16px;
    border-bottom:5px solid #232323;
  }
  .leaderboard-results tbody td:nth-of-type(7) {
    font-weight:bold;
  }
  .leaderboard-results tbody tr:hover td {
      background:#1d1d1d;
  }
  .leaderboard-results tbody tr {
    color:#747474;
  }
  .leaderboard-results tbody tr:first-child {
    color:#686EF9;
  }
  .leaderboard-results tbody span {
    font-weight:bold;
    padding:10px 15px;
    border-radius:50%;
  }
  .leaderboard-results tbody tr:first-child span {
    background:#5055CB;
    color:white;
  }
  .leaderboard-results tbody tr span {
    background:#262626;
    color:#747474;
  }

 

  

  